In [8]:
import pandas as pd

In [9]:
df_top_10m = pd.read_csv("top_10m_2017.txt",sep = "\t")
df_top_10m.head()

   #hc_pos   #hc_val  #pr_pos   #pr_val             #host_rev
0        1  38039408        1  0.007752          com.facebook
1        2  34958084        3  0.004288           com.twitter
2        3  33540440        2  0.005410  com.googleapis.fonts
3        4  32887486        4  0.002863           com.youtube
4        5  31128886        7  0.001680       com.google.plus

In [10]:
# df_top_10m = df_top_10m.sort_values(by='#pr_pos')
# df_top_10m
def reversed_domain(row):
    return ".".join(row["#host_rev"].split(".")[::-1])
df_top_10m["reversed_domain"] = df_top_10m.apply(reversed_domain, axis = 1)
df_top_10m

,#hc_pos,#hc_val,#pr_pos,#pr_val,#host_rev,reversed_domain
0,1,38039408,1,7.752050e-03,com.facebook,facebook.com
1,2,34958084,3,4.288142e-03,com.twitter,twitter.com
2,3,33540440,2,5.409732e-03,com.googleapis.fonts,fonts.googleapis.com
3,4,32887486,4,2.862810e-03,com.youtube,youtube.com
4,5,31128886,7,1.679714e-03,com.google.plus,plus.google.com
...,...,...,...,...,...,...
9999994,9999997,17716282,154236551,1.841375e-09,com.tumblr.the-sweven,the-sweven.tumblr.com
9999995,9999998,17716282,154236552,1.841375e-09,com.tumblr.the-swft,the-swft.tumblr.com
9999996,9999999,17716282,154236553,1.841375e-09,com.tumblr.the-swift-hurricane,the-swift-hurricane.tumblr.com
9999997,10000000,17716282,145605284,1.842719e-09,com.tumblr.the-swift-scout,the-swift-scout.tumblr.com
9999998,10000001,17716282,154236554,1.841375e-09,com.tumblr.the-swift-squad,the-swift-squad.tumblr.com

In [11]:
def get_tld(row):
    return row['reversed_domain'].split(".")[-1]

df_top_10m["tld"] = df_top_10m.apply(get_tld, axis = 1)
df_top_10m.head()

,#hc_pos,#hc_val,#pr_pos,#pr_val,#host_rev,reversed_domain,tld
0,1,38039408,1,0.007752,com.facebook,facebook.com,com
1,2,34958084,3,0.004288,com.twitter,twitter.com,com
2,3,33540440,2,0.005410,com.googleapis.fonts,fonts.googleapis.com,com
3,4,32887486,4,0.002863,com.youtube,youtube.com,com
4,5,31128886,7,0.001680,com.google.plus,plus.google.com,com

In [12]:
df_top_dk = df_top_10m[df_top_10m.tld == "dk"]

In [13]:
import os
if not os.path.exists("dk/"):
    os.mkdir("dk")
df_top_dk.to_csv("dk/dk_2017.csv", index = None, sep = "\t")

In [14]:
# dft = pd.read_csv("dk/dk_2022.csv")
# dft.to_csv("dk/dk_2022.csv", index = None, sep = "\t")