In [1]:
# import pandas as pd 

# df = pd.read_csv("../resource/top10milliondomains_expand.csv")
# df.head()

In [4]:
import pandas as pd 

df = pd.read_csv("../resource/top10million10000_timegap.csv")
df.head()

,rank,domain,open_page_rank,domain_tld,register_domain,old_edu,new_edu
0,6874685,shakaharry.com,2.80,shakaharry.com,shakaharry,2.021081e+13,2.022073e+13
1,3028738,interartix.com,3.34,interartix.com,interartix,2.007102e+13,2.022092e+13
2,2576746,undershirtguy.com,3.45,undershirtguy.com,undershirtguy,2.008082e+13,2.022092e+13
3,6823653,vedderschoenen.nl,2.81,vedderschoenen.nl,vedderschoenen,2.010111e+13,2.022033e+13
4,733484,news.java-virtual-machine.net,4.18,java-virtual-machine.net,java-virtual-machine,2.007022e+13,2.022042e+13

In [5]:
df = df.dropna()
len(df)

5265

In [6]:
def get_age(row):
    year_gap = int(str(row['new_edu'])[:4]) - int(str(row['old_edu'])[:4])
    return year_gap

df["year_gap"] = df.apply(get_age, axis = 1)

In [7]:
df

,rank,domain,open_page_rank,domain_tld,register_domain,old_edu,new_edu,year_gap
0,6874685,shakaharry.com,2.80,shakaharry.com,shakaharry,2.021081e+13,2.022073e+13,-1
1,3028738,interartix.com,3.34,interartix.com,interartix,2.007102e+13,2.022092e+13,-15
2,2576746,undershirtguy.com,3.45,undershirtguy.com,undershirtguy,2.008082e+13,2.022092e+13,-14
3,6823653,vedderschoenen.nl,2.81,vedderschoenen.nl,vedderschoenen,2.010111e+13,2.022033e+13,-12
4,733484,news.java-virtual-machine.net,4.18,java-virtual-machine.net,java-virtual-machine,2.007022e+13,2.022042e+13,-15
...,...,...,...,...,...,...,...,...
9995,994789,l2e-global.com,4.05,l2e-global.com,l2e-global,2.007063e+13,2.022120e+13,-15
9996,6945274,cryptosupportdesk.com,2.79,cryptosupportdesk.com,cryptosupportdesk,2.018081e+13,2.022071e+13,-4
9997,6588053,teamrudeboy.com,2.83,teamrudeboy.com,teamrudeboy,2.012061e+13,2.022012e+13,-10
9998,9755979,kampoengngawi.com,2.60,kampoengngawi.com,kampoengngawi,2.014101e+13,2.022092e+13,-8
9999,6120984,sherwoodoakscollege.com,2.86,sherwoodoakscollege.com,sherwoodoakscollege,2.000082e+13,2.022082e+13,-22